:root {
    --primary-text-color: #434455;
    --primary-title-color: #2E2F42;
    --primary-white-color: #E5E5E5;
    --color-logo-web: #4D5AE5;
    --color-btn-hover: #404BBF;
    --color-text-hero: #ffffff;
    --color-footer-p: #E7E9FC;
    --color-footer-logotype: #F4F4FD;
}

.body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    background: var(--primary-white-color);
    color: var(--primary-text-color);
    color: var(--primary-title-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* HEADER */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-logo-web);
}

.logotype {
    color: var(--primary-title-color);
}

.menu-link {
    font-weight: 500;
    color: var(--primary-title-color);
}

.menu-link:hover,
.menu-link:focus,
.contact-email:hover,
.contact-email:focus,
.contact-phone-number:hover,
.contact-phone-number:focus {
    color: var(--color-btn-hover);
}

.contact-email,
.contact-phone-number {
    font-weight: 400;
    color: var(--primary-text-color);
    font-style: normal;
}

/*HERO*/

.hero {
    background-color: var(--primary-title-color);
}

.page-hero {
    font-size: 56px;
    line-height: 1.07;
    background-color: var(--primary-title-color);
    color: var(--color-text-hero);
}

.btn-page-hero {
    background: var(--color-logo-web);
    color: var(--color-text-hero);
}

/*WORK PRINCIPLES*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-work-prin > h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-title-color);
}

.page-work-prin > p {
    font-weight: 400;
    color: var(--primary-text-color);
}

/*WHAT DOING*/
/*OUR TEAM*/

.page-title-what,
.page-title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--primary-title-color);
}

.page-our-team-ul h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-title-color);
}

.page-our-team-ul p {
    font-weight: 400;
    color: var(--primary-text-color);
}

/*FOOTER*/

.footer {
    background-color: var(--primary-title-color);
}

.footer p {
    font-weight: 400;
    color: var(--color-footer-p);
    background-color: var(--primary-title-color);
}

.logotype-footer {
    color: var(--color-footer-logotype);
    background-color: var(--primary-title-color);
}

.footer .logo {
    background-color: var(--primary-title-color);
}

/*PORTFOLIO-NAVIGATION*/

.menu-btn {
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--color-logo-web);
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    color: var(--color-text-hero);
    background-color: var(--color-btn-hover);
}

.page-galery h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-title-color);
}

.page-galery p {
    font-weight: 400;
    color: var(--primary-text-color);
}